body { background-color: rgb(173,230,238);
	}
p { font-family:Cortado;
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
	border: 4px solid darkslateblue;
	margin-right:500px;
	margin-left: 10px;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	}
h2 { font-family: Hadlery Swash;
	font-size: 30px;
	text-decoration: underline;
	}
